* {
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    font-size: 20px;
}

header {
    background-color: white;
    padding: 15px;
    text-align: center; 
    height: 82px;
}

footer {
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    background-color: #FAEEE7;
}

.container {
    flex: 2;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    margin: auto;
    
}

.ctlPanel {
    flex: 1;
    align-self: flex-end;
    color: #ffffff;
    padding: 20px 0px;
    border-radius: 10px;
    text-align: center;
}

.sketchPanel {
    box-sizing: border-box;
    width: 700px;
    height: 700px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 4px 16px #000000;
}

.boxGrid {
    border: 2px solid #000000;
    flex: 1;
}

button {
    font-size: 15px;
    border: none;
    padding: 15px;
    border-radius: 10px;
    background-color: #EB5353;
    color: white;

}
button:hover {
    filter: brightness(1.2);
    cursor: pointer;
    background-color: #000000;
    color: white;
}

.rowGrid {
    display: flex;
    flex: 1;
    box-sizing: border-box;
    justify-content: space-evenly;
}

.drawInk {
    background-color: #000000;
}



/* red #EB5353;
green #36AE7C;
blue #187498; */